
img {
  position: relative;
  left:255px;
  top: 1080px;
}

.prese{
  position: absolute;
  left: 497px;
  top:1568px;
  font-family:'poppins';
  font-size: 14px;

}

.gera {
  position: relative;
  left: 1061px;
  top:979px;
  font-size: 14px;
  width: 248px;
  height: 23px;
}

.plata {
  position: relative;
  left: 499px;
  top:964px;
  font-size: 14px;
}

p{
  position: relative;
  left: 499px;
  top:970px;
  font-size: 14px;
  width: 752px;
  height: 23px;;

}

