<!-- menuside.component.html -->
<div class="menuside">
  <div class="sla">
    <p class="mt-3">SLACA 2024</p>
  </div>
   <div>
      <img src="./assets/logo-slaca-2019.png" class="img-flui"d alt="Imagem de exemplo">

        <ul class="list-unstyled">
          <li class="box"><a href="#" class="text-decoration-none">Apresentação</a></li>
          <li class="box"><a href="#" class="text-decoration-none">Comitês</a></li>
          <li class="box"><a href="#" class="text-decoration-none">Autores</a></li>
          <li class="box"><a href="#" class="text-decoration-none">Eixos tematicos</a></li>
          <li class="box"><a href="#" class="text-decoration-none">Trabalhos</a></li>
          <li class="box"><a href="#" class="text-decoration-none">Contato</a></li>
        </ul>
   </div>

</div>
