.img-flui {
   width: 220px;
   height: 258px;
}

.sla{
  width: 220px;
  height: 68px;
  background:linear-gradient(#ffb354 100%, #EE7A3A 100%) ;

}

.mt-3{
  font-weight: 700;
  size: 30px;
  line-height: 59.16px;
  align-items: center;
  width: 178px;
  height: 68px;
  margin-top: 0rem !important;
  font-size: 30px;
  color: #FFFFFF;
  margin: 18px;
}

.list-unstyled {
  padding: 0px;
  margin: 18px;
  width: 220px;
  height: 35px;
}

.box {
  padding: 0rem;
  border-bottom: ridge;
  height: 30px;
}

a {
  color: black;
  font-size: 15px;
}
