.ini {
   position: absolute;
   width:786px;
   height:54px;
   left: 254px;
   top: 80px;
}

.inic {
  position: absolute;
  width:786px;
  height:54px;
  left: 254px;
  top: 102px;
}

p {
  color: rgb(247, 86, 28);
  font-size: 22px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.down {
  position: absolute;
  width: 120px;
  height: 31px;
  border-radius: 4px;
  top: 83px;
  left: 1089px;
  background: rgb(250, 118, 56);
  color: white;
  border: 1px;
}

.img1 {
  position: absolute;
  left: -3px;
  top: -3px;
  width: 34px;
  height: 33px;
}

.load {
  position: absolute;
  left: 29px;
  top: 0px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.star{
  position: absolute;
  width: 43px;
  height: 31px;
  border-radius: 4px;
  top: 83px;
  left: 1215px;
  background:  rgb(250, 118, 56);
  color: white;
  border: 1px;
}

.starimg {
  position: absolute;
  width: 26px;
  height: 24px;
  top: 3px;
  left: 9px;

}

.gl {
  position: absolute;
  width: 43px;
  height: 31px;
  border-radius: 4px;
  top: 83px;
  left: 1265px;
  background:  rgb(250, 118, 56);
  color: white;
  border: 1px;
}

.glo {
  position: absolute;
  width: 26px;
  height: 24px;
  top: 3px;
  left: 9px;

}

i{
  color:  rgb(250, 118, 56);
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 1096px;
  top: 123px;
}

.com {
  width:239px;
  height: 25px;

}

video {
  position: absolute;
  width: 783px;
  height: 439px;
  border-radius: 3px;
  left: 265px;
  top: 155px;
}


.det {
  position: absolute;
  background:rgb(255, 165, 192) ;
  top:28%;
  left:1086px;
  font-size: 20px;
  width: 242px;
  height: 45px;
  border-radius: 5px 5px 0px 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.text1 {
    position: absolute;
     width: 212px;
     height: 25px;
     top:7px;
     left: 10px;
     color: #4E4E4E;
     ;
}

.te2 {
  position: absolute;
  font-size: 13px;
  font-weight:400;
  line-height: 31.4px;
  letter-spacing: 0.02em;
  text-align: left;
  color: black;
  left: 11px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
    position: absolute;
    width: 242px;
    height: 388px;
    top: 209px;
    left: 1086px;
    gap: 0px;
    opacity: 0px;
    border-radius: 0px 0px 7px 7px;

}

.tet3 {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.tet4 {
  position: absolute;
  font-size: 13px;
  font-weight:400;
  line-height: 31.4px;
  letter-spacing: 0.02em;
  text-align: left;
  color: black;
  left: 12px;
  top: 21px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tet5{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.tet6 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 0px;
  top: 18px;
}

.tet7{
  position: absolute;
  font-size: 13px;
  font-weight:400;
  line-height: 31.4px;
  letter-spacing: 0.02em;
  text-align: left;
  color: black;
  left: 12px;
  top: 58px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tet8{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 88px;
  top: 2px;
}

.tet9 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 12px;
  top: 85px;
}



