<div>
  <div>
      <p class="ini">Análise sensorial de preparações funcionais desenvolvidas para escolares</p>
      <p class="inic">entre 09 e 15 anos, do município de Campinas/SP</p>

      <video src=""></video>
  </div>
      <div class="ladin">
        <button class="down">
          <img class="img1" src="./assets/111-removebg-preview.png">
          <p class="load">Download</p>
        </button>

        <button class="star">
          <img class="starimg" src="./assets/Star_icon_white_color-removebg-preview.png">
        </button>

        <button class="gl">
          <img class="glo" src="./assets/Star_of_david_with_menorah_stroke-removebg-preview.png">
        </button>
        <i class="com">COMO CITAR ESSE TRABALHO</i>
      </div>
</div>
