<div class="glo">
  <div class="res">
    <p class="resu">Resumo</p>
  </div>
  <div class="divtex">

    <p class="">{{ initialtexto}}<button class="btn-show-more" (click)="toggleExpansion()">
      {{expanded ? "": "ver mais"}}
    </button> </p>
      <div *ngIf="expanded">
        <p class="">{{expandedtext1}}</p>
        <p class="but2">{{ expandedtext2}} <button class="btn-show-more" (click)="toggleExpansion()">ver menos  </button></p>
      </div>

  </div>
  <div class="dis">
    <p class="discu">Discussões</p>
  </div>
  <div class="discuss">

  </div>
</div>
