.res{
  position: absolute;
  width: 1055px;
  height: 45px;
  top: 650px;
  left: 263px;
  background: #FDF1EB;
  border-radius: 5px 5px 0px 0px;
}

.resu{
  position: absolute;
  font-size: 20px;
  top: 8px;
  left: 23px;
}

.divtex {
  position: absolute;
  width: 1055px;
  height: auto;
  top: 697px;
  left: 263px;
  background: white;
  border-radius: 0px 0px 5px 5px;
  border: 2px solid #ECECEC;
  overflow: hidden;
}

.discu{
  position: absolute;
  font-size: 20px;
  top: 8px;
  left: 23px;
}

.dis {
  position: absolute;
  width: 1055px;
  height: 45px;
  top: 826px;
  left: 263px;
  background: #FDF1EB;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  overflow: hidden;
}

.discuss{
  position: absolute;
  width: 1055px;
  height: 621px;
  top: 873px;
  left: 263px;
  background: white;
  border-radius: 0px 0px 5px 5px;
  border: 2px solid #ECECEC;
  overflow: hidden;
  display: flex;
  overflow: hidden;
}
