.bg-body-tertiary {
  top: -25rem;
  background:linear-gradient(#ebb2bb 100%) ;
}

.navbar {
  width: 1146px;
  height: 68px;
  left: 220px;
  background:linear-gradient (#ebb2bb 100%) ;


}

.navbar-brand {
  position: absolute;
  left: 31px;
  height: 1rem;
  font-size: 19px;

}

.navbar-h6 {
  position: absolute;
  font-size: 13px;
  padding: 0rem 0rem 2rem 0rem;
  left: 28px;
}

.navbar-h5 {
  position: absolute;
  font-size: 12px;
  width: 105px;
  height: 16px;
  top: 53px;
  left: 33px;
}

.bg-body-tertiary {
  background:linear-gradient( #ebb2bb 100% );

}


.bot {
  position: absolute;
  left: 60px;
}
