.bg-body-tertiary {
  top: -25rem;
  background:linear-gradient(#ebb2bb 100%) ;
}

.navbar {
  width: 1146px;
  height: 68px;
  left: 220px;
  background:linear-gradient (#ebb2bb 100%) ;


}

.navbar-brand {
  position: absolute;
  left: 31px;
  height: 1rem;
  font-size: 19px;

}

.navbar-h6 {
  position: absolute;
  font-size: 13px;
  padding: 0rem 0rem 2rem 0rem;
  left: 28px;
}

.navbar-h5 {
  position: absolute;
  font-size: 12px;
  width: 105px;
  height: 16px;
  top: 53px;
  left: 33px;
}

.bg-body-tertiary {
  background:linear-gradient( #ebb2bb 100% );

}


.bot {
  position: absolute;
  left: 789px;
}

button {
  width: 97px;
  height: 34px;
  top: -12px;
  position: absolute;
}

img {
  position: absolute;
  width: 24px;
  height: 20px;
  top: 4px;
  left: 1px;
}

.pt {
  position: absolute;
  font-size: 15px;
  width: 81px;
  height: 18px;
  top: 2px;

}


.bem {
  position: absolute;
  font-size: 14px;
  width: 72px;
  height: 18px;
  left: 219px;
  top: -15px;
}

.gma {
  position: absolute;
  font-size: 12px;
  width: 163px;
  height: 15px;
  left: 157px;
  top: 5px;
}

.perf {
  position: absolute;
  width: 30.3px;
  height: 30.63px;
  top: -13.65px;
  left: 297px;
}
